
	<!DOCTYPE html>
	<html>
	<link rel="stylesheet" href="style.css">

	<div class="card">
		<div class="row">
			<h1 class="title_left">Peter</h1>
			<h1 class="title_right">1A</h1>
		</div>
		
		<div class="image_container"><img src="../src_img/user.svg" alt="Image"></div>

		<div class="row">
		 	
	 		<div class="left">
	 			<div>IQ</div>
	 		</div>
	 		<div class="right">
	 			<div>98</div>
	 		</div>
			
	 		<div class="left">
	 			<div>Age</div>
	 		</div>
	 		<div class="right">
	 			<div>12</div>
	 		</div>
			
	 		<div class="left">
	 			<div>Weight</div>
	 		</div>
	 		<div class="right">
	 			<div>54</div>
	 		</div>
			
	 		<div class="left">
	 			<div>Height</div>
	 		</div>
	 		<div class="right">
	 			<div>160</div>
	 		</div>
			

			<div class="bottom">Peter likes Cats</div>

		</div>
	</div>
	</html>
	