
	<!DOCTYPE html>
	<html>
	<link rel="stylesheet" href="style.css">

	<div class="card">
		<div class="row">
			<h1 class="title_left">Bob</h1>
			<h1 class="title_right">1B</h1>
		</div>
		
		<div class="image_container"><img src="../src_img/user.svg" alt="Image"></div>

		<div class="row">
		 	
	 		<div class="left">
	 			<div>IQ</div>
	 		</div>
	 		<div class="right">
	 			<div>102</div>
	 		</div>
			
	 		<div class="left">
	 			<div>Age</div>
	 		</div>
	 		<div class="right">
	 			<div>45</div>
	 		</div>
			
	 		<div class="left">
	 			<div>Weight</div>
	 		</div>
	 		<div class="right">
	 			<div>80</div>
	 		</div>
			
	 		<div class="left">
	 			<div>Height</div>
	 		</div>
	 		<div class="right">
	 			<div>183</div>
	 		</div>
			

			<div class="bottom">Bob likes Tennis</div>

		</div>
	</div>
	</html>
	